.flat-button {
    color: #ffd700;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float:right;
    text-align: center;
    margin-right: 10px;

    &:hover {
      background: #ffd700;
      color: #333;
      font-weight: 600;
      text-decoration: underline;
      text-shadow: 0.5px 0.5px #ff0000;
      border: 1px inset #ff0000;
    }
}